body {
    display:flex;
    flex-direction: column;
    height:100vh;
    font-family: 'Roboto Mono', monospace;
    background-color:rgb(0,244,161)
}

a:link {
    text-decoration: none;
  }

#top{
    flex: 1.5;
    background-image:url(../images/campNosBg.png);
    background-size: 200%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#bottom{
    flex: 1;
    background-color: rgb(25,25,25);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    flex-direction: column;
    width:100vw;
}

#title-and-social{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

#camp-nos-logo{
    width:400px;
}

#site-title{
    font-size:2.5rem;
    font-weight: 100;
}

.fab{
    color:rgb(0,244,161);
    font-size:60px;
    padding:1rem;
    cursor: pointer;
}

.fab:hover{
    color:rgb(222,0,247);
}

.bio{
    background-color:rgb(25,25,25);
    color:white;
    padding:2rem;
    display:flex;
    flex-direction: row;
    margin:1rem;
    align-items: center;

}

#bios-page{
    background-image:url(../images/campNosBg.png);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bio-image{
    width:250px;
    height:250px;
    padding:1rem;
}

.bio-body{
    padding:3rem;
    display: flex;
    flex-direction: column;
}

.bio-text{
    font-weight: 200;
}

.bio-name{
    color:rgb(0,244,161);
}

@media only screen and (max-width: 800px) {
    #camp-nos-logo{
        width:300px;
    }
    .fab{
        font-size:32px;
    }
    .bio{
        flex-direction: column;
    }

    .bio-body{
        padding:1rem;
        display: flex;
        flex-direction: column;
    }
  }